In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [4]:
df = pd.read_csv("datasets/Provisional_COVID-19_Deaths_by_Sex_and_Age.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137700 entries, 0 to 137699
Data columns (total 16 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Data As Of                                137700 non-null  object
 1   Start Date                                137700 non-null  object
 2   End Date                                  137700 non-null  object
 3   Group                                     137700 non-null  object
 4   Year                                      134946 non-null  float64
 5   Month                                     123930 non-null  float64
 6   State                                     137700 non-null  object
 7   Sex                                       137700 non-null  object
 8   Age Group                                 137700 non-null  object
 9   COVID-19 Deaths                           98356 non-null   float64
 10  Total Deaths                              118049 non-null  float64
 11  Pneumonia Deaths                          92892 non-null   float64
 12  Pneumonia and COVID-19 Deaths             100920 non-null  float64
 13  Influenza Deaths                          111102 non-null  float64
 14  Pneumonia, Influenza, or COVID-19 Deaths  93511 non-null   float64
 15  Footnote                                  97802 non-null   object
dtypes: float64(8), object(8)
memory usage: 16.8+ MB

In [6]:
df.describe()

,Year,Month,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
count,134946.000000,123930.000000,9.835600e+04,1.180490e+05,9.289200e+04,100920.000000,111102.000000,9.351100e+04
mean,2021.408163,6.200000,3.129698e+02,2.831617e+03,3.354171e+02,152.225119,4.991764,5.040551e+02
std,1.086439,3.350635,5.984412e+03,5.598458e+04,6.109483e+03,2977.313816,110.438533,9.236265e+03
min,2020.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00
25%,2020.000000,3.000000,0.000000e+00,4.200000e+01,0.000000e+00,0.000000,0.000000,0.000000e+00
50%,2021.000000,6.000000,0.000000e+00,1.520000e+02,1.700000e+01,0.000000,0.000000,2.500000e+01
75%,2022.000000,9.000000,5.000000e+01,6.540000e+02,7.400000e+01,21.000000,0.000000,1.060000e+02
max,2023.000000,12.000000,1.145443e+06,1.224392e+07,1.159433e+06,568733.000000,22198.000000,1.755856e+06

In [7]:
df.head()

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,09/20/2023,01/01/2020,09/16/2023,By Total,NaN,NaN,United States,All Sexes,All Ages,1145443.0,12243921.0,1159433.0,568733.0,22198.0,1755856.0,NaN
1,09/20/2023,01/01/2020,09/16/2023,By Total,NaN,NaN,United States,All Sexes,Under 1 year,519.0,72811.0,1050.0,95.0,64.0,1535.0,NaN
2,09/20/2023,01/01/2020,09/16/2023,By Total,NaN,NaN,United States,All Sexes,0-17 years,1695.0,130217.0,2948.0,424.0,509.0,4702.0,NaN
3,09/20/2023,01/01/2020,09/16/2023,By Total,NaN,NaN,United States,All Sexes,1-4 years,284.0,14222.0,688.0,66.0,177.0,1074.0,NaN
4,09/20/2023,01/01/2020,09/16/2023,By Total,NaN,NaN,United States,All Sexes,5-14 years,509.0,21885.0,815.0,143.0,219.0,1387.0,NaN